@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>The name of Department of id:@ViewData["dptId"] is: @ViewData["toto"]</p>
<p>with @ViewData["nbEmpls"] employees</p>
<p>among @ViewData["nbDepts"] departments</p>
